<div class="container" style="padding: 2rem">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h2>Perfil do Usuario</h2>

			<%= render 'form', perfil: @perfil %>

			<%= link_to 'Show', @perfil %> |
			<%= link_to 'Back', posts_path %>
		</div>
	</div>
</div>
