<div class="container" style="padding: 2rem">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h2>Perfil do Usuario</h2>

      <%= render 'form', perfil: @perfil %>

      <div style="margin-top: 1rem" align="right">
        <%= link_to 'Back', perfils_path %>
      </div>
    </div>
  </div>
</div>
